<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="common :: common">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="keywords"
          content="admin, dashboard, bootstrap, template, flat, modern, theme, responsive, fluid, retina, backend, html5, css, css3">
    <meta name="description" content="">
    <meta name="author" content="ThemeBucket">
    <link rel="shortcut icon" href="#" type="image/png">

    <title>主页</title>

</head>

<body class="sticky-header">

<section>

    </div>

    <div th:replace="common::#left-menu"></div>

    <!-- main content start-->
    <div class="main-content">
        <div th:replace="common::#header"></div>

        <h1 class="text-center">
            欢迎使用IW2EBetter食堂菜品点评管理系统
        </h1>

        <div th:replace="common :: #footer"></div>
    </div>

</section>

<div th:replace="common::#footer_js"></div>
</body>
<script th:replace="common::#init"></script>
</html>
